.App {
  text-align: center;
}

.footer {
  border-top: 1px grey solid;
  margin-top: 2em;
  padding: 1em;
}
.footerIcons {
  width: 25%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-around;
}